html{
    background-image:url(../images/p_da0478_ll_da04780.jpg);
    color:black;
    padding:0;
    margin:0;
    text-decoration:none;
    list-style:none;
    font-family: 'Sacramento', cursive;
 }
 body{
    margin:0;
 }
 /* ------------------------ section-title ------------*/
 .section-title{
    color:white;
    padding-top:30px;
    text-align:left;
 }
  
 /* ------------------------- header ------------------*/
 .header{
    width:100%;
    height:64px;
    background-color:rgba(26,24,24,0.5);
    display:flex;
    position:fixed;
    z-index:100;
 }
 .header p{
    font-size:40px;
    color:white;
    position:absolute;
    left:12px;
    margin:0;
 }
 .header img{
    width:64px;
    height:64px;
    position:absolute;
    right:0px;
 }
 .header img:hover{
    cursor:pointer;
 }
 /* --------------------- humburger ---------------------- */
 *, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 ol, ul {
    list-style: none;
 }
 a {
    text-decoration: none;
    color: inherit;
 }
 .cp_cont {
    height:100px;
 }
 .cp_offcm01 {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
 }
 /* menu */
 .cp_offcm01 .cp_menu {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 250px;
    height: 80%;
    cursor: pointer;
    -webkit-transition-timing-function: cubic-bezier(.38,.52,.23,.99);
    transition-timing-function: cubic-bezier(.38,.52,.23,.99);
    background-color: white;
    opacity: 0.5;
    text-align:center;
 }
 .cp_offcm01 .cp_menu ul {
    margin: 0;
    padding: 0;
 }
 .cp_offcm01 .cp_menu li {
    list-style: none;
 }
 .cp_offcm01 .cp_menu li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    font-size:1.7rem;
 }
  
 .cp_offcm01 #cp_toggle01 {
    position: absolute;
    display: none;
    opacity: 0;
 }
 .cp_offcm01 #cp_toggle01:checked ~ .cp_menu {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
    margin-top:64px;
 }
 /* menu toggle */
 .cp_offcm01 #cp_toggle01 ~ label {
    display: block;
    padding: 0;
    cursor: pointer;
    text-align: center;
    color: #333333;
 }
 .cp_offcm01 #cp_toggle01 ~ label::before {
    font-family: 'FontAwesome';
    font-size: 2em
 }
 /* contents */
 .cp_contents {
    color: #333333;
    padding-left:30px;
    font-size:1.3rem;
    width:96%;
    height:64px;
    background-color:white;
    color:black;
    opacity:0.9;
 }
 .cp_offcm01,.cp_contents{
    position:fixed;
    z-index:200;
 }
  
 /* -------------------------- eyecatch -----------------*/
 .eyecatch{
    background-image:url(../images/S__191250605.jpg);
    background-size:cover;
    width:100%;
    height:650px;
    position:relative;
 }
 .eyecatch-title{
    color:white;
    font-size:50px;
    position:absolute;
    bottom:5%;
    right:10%;  
 }
  
  
  
 /* ------------------------ top-btn -------------------- */
 .top-btn{
    background-color:white;
    width:50px;
    height:50px;
    position:absolute;
    right:5%;
    bottom:10px;
    color:black;
    font-size:30px;
    font-weight:bold;
    position:fixed;
    z-index:100;
 }
 .top-btn p{
    margin:0 auto;
    text-align:center;
    border:1 solid black;
 }
 .top-btn:hover{
    cursor:pointer;
 }
  
 /* ------------------------- search -------------------*/
 .search{
    position:absolute;
    top:35%;
    left:43%;
    background-color:transparent;
    border-radius:60px;
    width:50%;
    height:70px;
    display:flex;
    text-align:center;
    color:white;
 }
 .search p{
    padding-top:15px;
    padding-left:10px;
    padding-right:15px;
    font-size:5rem;
 }
  
 /* -------------------------- main ---------------------*/
 .item-img{
    width:200px;
    height:200px;
    box-sizing:border-box;
  
 }
 .main-list{
    display: table;
    text-align:center;
    margin-left:10px;
 }
 .list-items{
    display:inline-block;
    position:relative;
    margin-left:30px;
    margin-top:30px;
    border:1px solid white;
    text-align:center;
 }
 .item-message{
    width:200px;
    height:35px;
    align-items: stretch;
    background-color:rgba(26,24,24,0.5);
    position:absolute;
    bottom:0px;
    left:0px;
    opacity:0;
 }
 .list-items:hover .item-message{
    opacity:1;
 }
 .list-items:hover{
    cursor:pointer;
 }
 .item-message p{
    color:white;
    padding-left:5px;
    font-size:10px;
    display:inline;
    padding-top:10px;
 }
 .item-message img{
    display:inline;
    vertical-align: middle;
 }
 .fast-img{
    margin-left:0;
 }
 .hurt{
    width:50%;
    height:100%;
    display:inline-block;
    border-left:1px solid white;
 }
 .hurt p{
    margin-top:30px;
 }
 .hurt img{
    margin-top:3px;
 }
  
  
  
 /* ---------------------- more ------------------- */
 .more{
    color:white;
    font-size:40px;
    margin:0 auto;
    margin-top:100px;
    margin-bottom:50px;
 }
 .more p{
    margin:0 auto;
    width:20%;
    height:70px;
    text-align:center;
    background-color:skyblue;
    border-radius:60px;
 }
 .more p:hover{
    cursor:pointer;
 }
 hr{
    border-bottom:1px solid white;
    margin-top:10px;
 }
 /* ---------------- singlepage --------------------- */
 .singlepage{
    width:100%;
    height:1000px;
 }
 .single-image{
    width: 50%;
    height:400px;
    margin:0 auto;
    margin-top:50px;
 }
 .singlepage-share{
    background-color:white;
    opacity:0.5;
    width:50%;
    height:70px;
    margin:0 auto;
    color:black;
    text-align:center;
    font-size:2.5rem;
    margin-top:70px;
 }
 .singlepage-share:hover{
    cursor:pointer;
 }
 .textinfo{
    width:50%;
    height:150px;
    color:black;
    background-color:white;
    opacity:0.8;
    font-size:1.7rem;
    margin:0 auto;
    margin-top:20px;
    text-align:center;
 }
 .hosoku{
    width:50%;
    height:70px;
    color:black;
    background-color:white;
    opacity:0.8;
    font-size:1.3rem;
    margin:0 auto;
    margin-top:20px;
 }
 .category{
    width:50%;
    height:70px;
    margin:0 auto;
    display:flex;
    margin-top:20px;
 }
 .category-item{
    width:25%;
    height:70px;
    background-color:skyblue;
    border:1px solid black;
    text-align:center;
    font-size:2rem;
 }
 .single-title{
    width:50%;
    height:50px;
    color:white;
    margin:0 auto;
    font-size:1.5rem;
    margin-top:50px;
 }
 .today-category{
    width:50%;
    height:300px;
    margin:0 auto;
    margin-top:20px;
    display:flex;
 }
 .today-category-item{
    width:33%;
    height:300px;
    border:1px solid black;
    background-color:white;
    opacity:0.8;
 }
 /* ------------ akaunto-sentaro --------------- */
 .akaunto-sentaro{
    width:25%;
    height:100px;
    margin:0 auto;
    background-color:white;
    opacity:0.8;
    text-align:center;
    margin-top:50px;
 }
  
 /* -------------------------- eyecatch -----------------*/
  
  .eyecatch-title{
    color:white;
    font-size:50px;
    position:absolute;
    bottom:5%;
    right:10%; 
 }
  
  /* -------------------- search2 ----------------- */
 .search2{
    margin:0 auto;
    border-radius:60px;
    width:20%;
    height:70px;
    display:flex;
    text-align:center;
    background-color:white;
    margin-top:50px;
 }
 .search2 p{
    padding-left:80px;
    padding-right:15px;
    font-size:2.2rem;
    color:black;
 }
 .search2 input{
    font-size:20px;
    margin:0;
    width:150px;
    background-color:transparent;
    border-style:none;
    padding-left:15px;
 }
  
 /* ------------------- categories --------------------- */
 .categories{
    display:flex;
    padding-top:15%;
    position:absolute;
    top:0;
    left:5%;
    margin:0 auto;
 }
 .category{
    width:100%;
    display:flex;
    flex-wrap:wrap;
 }
 .category-item{
    width:20%;
    height:50px;
    background-color:transparent;
    border:1px solid white;
    border-radius:60px;
    color:white;
    text-align:center;
    margin-left:50px;
    margin:0 auto;
    margin-top:50px;
 }
 .category-item p{
    font-size:25px;
    margin:0 auto;
 }
 .category-item p:hover{
    opacity:0.6;
 }
 .category:hover{
    cursor:pointer;
 }
 .category-sen{
     width:50%;
     text-align:center;
     margin:0 auto;
     display:flex;
 }
 .category-item-sen{
     width:25%;
     height:50px;
     color:white;
     border:1px solid white;
     background-color:black;
     opacity:0.5;
 }
 .category-item-sen p{
     padding-top:10px;
 }
 .category-item-sen p:hover{
     cursor:pointer;
 }
 
 