{% extends 'base.html' %}
{% block content %}

  <div>
    <p>登録する本のISBNコードを入力</p><input id="isbn" type="text"> <button id="button" onclick="searchBook()">書籍検索</button>
    <div id="bookinfo"></div>

  </div>
  <script type="text/javascript">

  'use strict'

  function searchBook() { 
    const code = document.getElementById('isbn').value;
    const parent = document.getElementById('bookinfo');
    parent.textContent = null;

    fetch('https://www.googleapis.com/books/v1/volumes?q=isbn:' + code)
      .then(response =>  {
        return response.json();
      }).then( res => {
        const title = res.items[0].volumeInfo.title;
        parent.append('書籍名：' + title);
        const author = res.items[0].volumeInfo.authors[0];
        parent.append('／著者：' + author);
        const year = res.items[0].volumeInfo.publishedDate;
        parent.append('／出版年月：' + year);
        const synopsis = res.items[0].volumeInfo.description;
        parent.append('／概要：' + synopsis);
        const book_photo = res.items[0].volumeInfo.imageLinks.smallThumbnail;
        parent.append('／表紙：' + book_photo);
        const pages = res.items[0].volumeInfo.pageCount;
        parent.append('／ページ数：' + pages);
        const isbn = res.items[0].volumeInfo.industryIdentifiers[1].identifier;
        parent.append('／ISBN番号：' + isbn);
        var bookdata = [title, author, year, synopsis, book_photo, pages, isbn];
        // console.log(bookdata);
        return bookdata;

      }).catch(function (error) {
         parent.append(error);
      });
  }
  </script>
  <form class="bookRegist" action="/bookdb" method="post">
  <input type="hidden" name="comment_id" value="{{bookdata}}">
  <input type="submit" name="bookdb" value="データベースに登録">
  </form><br>
  <!-- <p><button onclick="return confirm('登録してよろしいですか？')">データベースに登録</button></p> -->
{% endblock %}