{% extends 'base.html' %}

{% block content %}

<div>
  <form action="/edit">
    <input type="text" value="{{user_name['user_id']}}" name="item_id">
    <p>{{user_name["user_name"]}}</p><br>
    <input type="submit" name="save" value="編集する">

    <input type="text" value="{{address['user_id']}}" name="item_id">
    <p>{{address["address"]}}</p><br>
    <input type="submit" name="save" value="編集する">

    <input type="integer" value="{{phone['user_id']}}" name="item_id">
    <p>{{phone["phone"]}}</p><br>
    <input type="submit" name="save" value="編集する">

    <input type="text" value="{{mail['user_id']}}" name="item_id">
    <p>{{mail["mail"]}}</p><br>
    <input type="submit" name="save" value="編集する">


  </form>
  
</div>
<!-- テストをもう一回更新します -->
{% endblock %}
