{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>sentaro</title>
   <link rel="stylesheet" href="/static/css/stylesheet.css">
</head>
 
<body>
   <div class="eyecatch">
       <div class="cp_cont">
           <div class="cp_offcm01">
               <input type="checkbox" id="cp_toggle01">
               <label for="cp_toggle01"><span><img src="/static/images/メニューのフリーアイコン19.png" alt="" class="humburger-menu"></span></label>
               <div class="cp_menu">
               <ul>
                   <li><a href="home.html">home</a></li>
                   <li><a href="search.html">search</a></li>
                   <li><a href="categories.html">categories</a></li>
                   <li><a href="upload.html">upload</a></li>
                   <li><a href="signin.html">signup</a></li>
                   <li><a href="login.html">login</a></li>
                   <li><a href="about.html">about</a></li>
               </ul>
               </div>
           </div>
           <div class="cp_contents">
               <h1>Sentaro</h1>
           </div>
       </div>
       <div class="search">
           <p>amazing</p>
       </div>
       <div class="top-btn">
           <p>↑</p>
       </div>
   </div>
 
   <div class="main">
       <div class="section-title">
		<h1>List of restaurants</h1>
	</div>

	<div class="main-list">
		<div class="list-items fast-img">
			<a href="/singlepage"><img class="item-img" src="/static/images/banana-4415864_1920.jpg" alt="item"></a> 
			<div class="item-message">
				<p>textが入ります。</p>
				<div class="hurt">
					<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
					<p>0</p>
				</div>
			</div>
		</div>
		<div class="list-items">
			<img class="item-img" src="/static/images/apple-1590131_1280.png" alt="item">
			<div class="item-message">
				<p>textが入ります。</p>
				<div class="hurt">
					<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
					<p>0</p>
				</div>
			</div>
		</div>
		<div class="list-items">
			<img class="item-img" src="/static/images/fruit-4664685_1920.jpg" alt="item">
			<div class="item-message">
				<p>textが入ります。</p>
				<div class="hurt">
					<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
					<p>0</p>
				</div>
			</div>
		</div>
		<div class="list-items">
			<img class="item-img" src="/static/images/low-poly-2460175_1280.png" alt="item">
			<div class="item-message">
				<p>textが入ります。</p>
				<div class="hurt">
					<img src="/static//images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
					<p>0</p>
				</div>
			</div>
		</div>
		<div class="list-items">
			<img class="item-img" src="/static/images/small-poly-3310319_1920.jpg" alt="item">
			<div class="item-message">
				<p>textが入ります。</p>
				<div class="hurt">
					<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
					<p>0</p>
				</div>
			</div>
		</div>
		<div class="list-items fast-img">
			<img class="item-img" src="/static/images/banana-4415864_1920.jpg" alt="item">
			<div class="item-message">
				<p>textが入ります。</p>
				<div class="hurt">
					<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
					<p>0</p>
				</div>
			</div>
		</div>

<div class="main">
	<div class="section-title">
		<h1>List of restaurants</h1>
	</div>

	<div class="main-list">
		<div class="list-items fast-img">
			<img class="item-img" src="/static/images/banana-4415864_1920.jpg" alt="item">
			<div class="item-message">
				<p>textが入ります。</p>
				<div class="hurt">
					<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
					<p>0</p>
				</div>
			</div>
		</div>
		<div class="list-items">
			<img class="item-img" src="/static/images/apple-1590131_1280.png" alt="item">
			<div class="item-message">
				<p>textが入ります。</p>
				<div class="hurt">
					<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
					<p>0</p>
				</div>
			</div>
		</div>
		<div class="list-items">
			<img class="item-img" src="/static/images/fruit-4664685_1920.jpg" alt="item">
			<div class="item-message">
				<p>textが入ります。</p>
				<div class="hurt">
					<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
					<p>0</p>
				</div>
			</div>
		</div>
		<div class="list-items">
			<img class="item-img" src="/static/images/low-poly-2460175_1280.png" alt="item">
			<div class="item-message">
				<p>textが入ります。</p>
				<div class="hurt">
					<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
					<p>0</p>
				</div>
			</div>
		</div>
		<div class="list-items">
			<img class="item-img" src="/static/images/small-poly-3310319_1920.jpg" alt="item">
			<div class="item-message">
				<p>textが入ります。</p>
				<div class="hurt">
					<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
					<p>0</p>
				</div>
			</div>
		</div>
		<div class="list-items fast-img">
			<img class="item-img" src="/static/images/banana-4415864_1920.jpg" alt="item">
			<div class="item-message">
				<p>textが入ります。</p>
				<div class="hurt">
					<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
					<p>0</p>
				</div>
			</div>
		</div>

<div class="main">
<div class="section-title">
	<h1>List of restaurants</h1>
</div>

<div class="main-list">
	<div class="list-items fast-img">
		<img class="item-img" src="/static/images/banana-4415864_1920.jpg" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="list-items">
		<img class="item-img" src="/static/images/apple-1590131_1280.png" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="list-items">
		<img class="item-img" src="/static/images/fruit-4664685_1920.jpg" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="list-items">
		<img class="item-img" src="/static/images/low-poly-2460175_1280.png" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="list-items">
		<img class="item-img" src="/static/images/small-poly-3310319_1920.jpg" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="list-items fast-img">
		<img class="item-img" src="/static/images/banana-4415864_1920.jpg" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>

<div class="main">
	<div class="section-title">
		<h1>List of restaurants</h1>
	</div>

	<div class="main-list">
		<div class="list-items fast-img">
			<img class="item-img" src="/static/images/banana-4415864_1920.jpg" alt="item">
			<div class="item-message">
				<p>textが入ります。</p>
				<div class="hurt">
					<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
					<p>0</p>
				</div>
			</div>
		</div>
		<div class="list-items">
			<img class="item-img" src="/static/images/apple-1590131_1280.png" alt="item">
			<div class="item-message">
				<p>textが入ります。</p>
				<div class="hurt">
					<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
					<p>0</p>
				</div>
			</div>
		</div>
		<div class="list-items">
			<img class="item-img" src="/static/images/fruit-4664685_1920.jpg" alt="item">
			<div class="item-message">
				<p>textが入ります。</p>
				<div class="hurt">
					<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
					<p>0</p>
				</div>
			</div>
		</div>
		<div class="list-items">
			<img class="item-img" src="/static/images/low-poly-2460175_1280.png" alt="item">
			<div class="item-message">
				<p>textが入ります。</p>
				<div class="hurt">
					<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
					<p>0</p>
				</div>
			</div>
		</div>
		<div class="list-items">
			<img class="item-img" src="/static/images/small-poly-3310319_1920.jpg" alt="item">
			<div class="item-message">
				<p>textが入ります。</p>
				<div class="hurt">
					<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
					<p>0</p>
				</div>
			</div>
		</div>
		<div class="list-items fast-img">
			<img class="item-img" src="/static/images/banana-4415864_1920.jpg" alt="item">
			<div class="item-message">
				<p>textが入ります。</p>
				<div class="hurt">
					<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
					<p>0</p>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="section-title">
				<h1>List of restaurants</h1>
			</div>
   
<div class="main-list">
	<div class="list-items fast-img">
		<img class="item-img" src="/static/images/banana-4415864_1920.jpg" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="list-items">
		<img class="item-img" src="/static/images/apple-1590131_1280.png" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="list-items">
		<img class="item-img" src="/static/images/fruit-4664685_1920.jpg" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="list-items">
		<img class="item-img" src="/static/images/low-poly-2460175_1280.png" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="list-items">
		<img class="item-img" src="/static/images/small-poly-3310319_1920.jpg" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="list-items fast-img">
		<img class="item-img" src="/static/images/banana-4415864_1920.jpg" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="section-title">
			<h1>List of restaurants</h1>
		</div>
		   
<div class="main-list">
	<div class="list-items fast-img">
		<img class="item-img" src="/static/images/banana-4415864_1920.jpg" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="list-items">
		<img class="item-img" src="/static/images/apple-1590131_1280.png" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="list-items">
		<img class="item-img" src="/static/images/fruit-4664685_1920.jpg" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="list-items">
		<img class="item-img" src="/static/images/low-poly-2460175_1280.png" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="list-items">
		<img class="item-img" src="/static/images/small-poly-3310319_1920.jpg" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="list-items fast-img">
		<img class="item-img" src="/static/images/banana-4415864_1920.jpg" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
   
	<div class="main">
		<div class="section-title">
			<h1>List of restaurants</h1>
		</div>
				   
<div class="main-list">
	<div class="list-items fast-img">
		<img class="item-img" src="/static/images/banana-4415864_1920.jpg" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="list-items">
		<img class="item-img" src="/static/images/apple-1590131_1280.png" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="list-items">
		<img class="item-img" src="/static/images/fruit-4664685_1920.jpg" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="list-items">
		<img class="item-img" src="/static/images/low-poly-2460175_1280.png" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="list-items">
		<img class="item-img" src="/static/images/small-poly-3310319_1920.jpg" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	<div class="list-items fast-img">
		<img class="item-img" src="/static/images/banana-4415864_1920.jpg" alt="item">
		<div class="item-message">
			<p>textが入ります。</p>
			<div class="hurt">
				<img src="/static/images/icons8-ハート-48.png" alt="item-img" width="24px" height="24px">
				<p>0</p>
			</div>
		</div>
	</div>
	</div>
</div>
<div class="more">
	<p>See more →</p>
</div>
</body>
</html>

{% endblock %}
