{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>sentaro</title>
   <link rel="stylesheet" href="css/stylesheet.css">
</head>
 
<body>
  
</body>
<div class="akaunto-sentaro">
   <p>アカウント名</p>
   <input type="text">
</div>
<div class="akaunto-sentaro">
   <p>パスワード</p>
   <input type="text">
</div>
<div class="login-sentaro">
   <p>ログイン</p>
</div>
</html>
{% endblock %}
