{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>sentaro</title>
   <link rel="stylesheet" href="/static/css/stylesheet.css">
</head>
 
<body>
  
</body>
   <div class="akaunto-sentaro">
       <p>アカウント名</p>
       <input type="text">
   </div>
   <div class="akaunto-sentaro">
       <p>住所</p>
       <input type="text">
   </div>
   <div class="akaunto-sentaro">
       <p>メールアドレス</p>
       <input type="text">
   </div>
   <div class="akaunto-sentaro">
       <p>パスワード</p>
       <input type="text">
   </div>
   <div class="sentaro-see">
       <p>sentaro see→</p>
   </div>
</html>

{% endblock %}
