{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>sentaro</title>
   <link rel="stylesheet" href="/static/css/stylesheet.css">
</head>
 
<body>
   <div class="singlepage">
       <div class="single-image">
           <img src="" alt="">
       </div>
       <div class="singlepage-share">
           <p>share</p>
       </div>
       <div class="textinfo">
           <p>sentaro is amazingsentaro is amazingsentaro is amazingsentaro is amazing</p>
           <p>sentaro is amazingsentaro is amazingsentaro is amazingsentaro is amazing</p>
           <p>sentaro is amazingsentaro is amazingsentaro is amazingsentaro is amazing</p>
       </div>
       <div class="hosoku">
           <p>Sentaro Nagano</p>
           <p>Sentaro Nagano</p>
       </div>
       <div class="category">
           <div class="category-item">
               <p>senkichi</p>
           </div>
           <div class="category-item">
               <p>senkichi</p>
           </div>
           <div class="category-item">
               <p>senkichi</p>
           </div>
           <div class="category-item">
               <p>senkichi</p>
           </div>
       </div>
       <div class="single-title">
           <p>Todays sentaro</p>
       </div>
       <div class="today-category">
           <div class="today-category-item">
               <p>nagano</p>
           </div>
           <div class="today-category-item">
               <p>nagano</p>
           </div>
           <div class="today-category-item">
               <p>nagano</p>
           </div>
       </div>
       <div class="today-category">
           <div class="today-category-item">
               <p>nagano</p>
           </div>
           <div class="today-category-item">
               <p>nagano</p>
           </div>
           <div class="today-category-item">
               <p>nagano</p>
           </div>
       </div>
   </div>
</body>
 
</html>

{% endblock %}
